.hero {
    position: relative;
    display:        flex;
    flex-direction: column;
    gap:            var(--small-gap);
}

.hero .card-div {
    width: 100%;
}

.hero-data ul {
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: start;
    width:           100%;
    max-width:       100%;
    gap:             var(--medium-gap);

    list-style: none;
    overflow-x: auto;
}

.hero-data ul::-webkit-scrollbar {
    display: none;
}

.hero ul li {
    width: 100%;
    flex-shrink: 0;
}

.hero ul li div {
    position:       relative;
    display:        flex;
    flex-direction: column;
    align-items:    start;
    transition:     transform 0.3s;
}

.hero-data ul li div svg {
    width:  calc(var(--icons-size) * 2.5);
    height: calc(var(--icons-size) * 2.5);
    color:  white;
}

.hero-data ul li div p {
    font-size: 0.85rem;
}

.hero-data ul li div button {
    position: absolute;
    top:    calc(var(--card-div-padding) / 1.5);
    right:  calc(var(--card-div-padding) / 1.5);
    height: 1.75rem;
    width:  1.75rem;
    border-radius: 0.5rem;
    transition: width 0.3s;
    overflow: hidden;
}

.hero-data ul li div button:hover {
    width: 5rem;
}

.hero-data ul li div button .icon {
    font-size: 1.25rem;
    font-weight: 600;
}

.hero-data ul li div button .label {
    width:          0;
    opacity:        0;
    visibility:     hidden;
    pointer-events: none;
    

    will-change: opacity;

    transition:
        opacity 0.3s ease,
        visibility 0s linear 0.3s,
        width 0s linear 0.3s;
}

.hero-data ul li div button:hover .label,
.hero-data ul li div button:focus-visible .label {
    width:          fit-content;
    opacity:        1;
    visibility:     visible;
    pointer-events: auto;
    margin-left:    5px;

    transition: opacity 0.3s ease;
}

@media (min-width: 600px) {
    .hero ul {
        flex-direction: row;
    }

    .hero ul li {
        width: 12.5rem;
    }
}