.dashboard {
    position: relative;
    display:        flex;
    flex-direction: column;
    gap:            var(--main-gap);
}

.dashboard .new-draft {
    bottom: 1.5rem;
    right:  1.5rem;
    position: absolute;
}

.dashboard ul li div {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    
    text-align: center;
}

.dashboard-data ul li div svg {
    width:  calc(var(--icons-size) * 2.5);
    height: calc(var(--icons-size) * 2.5);
    color:  white;
}
