.hero {
    position:       relative;
    display:        flex;
    flex-direction: column;
    gap:            var(--small-gap);
}

.hero ul li div {
    position:       relative;
    flex-direction: column;
    align-items:    start;
    transition:     transform 0.3s;
}

.hero-list ul li div svg {
    width:  calc(var(--icons-size) * 2.5);
    height: calc(var(--icons-size) * 2.5);
    color:  white;
    margin-bottom: 2.5px;
}

.hero-list ul li div button {
    height:        1.75rem;
    width:         100%;
    margin-top:    2px;
    border-radius: 0.5rem;
}

.statistics .statistics-data {
    display:               grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap:                   var(--small-gap);
    list-style:            none;
}

.statistics .statistics-data div {
    flex-direction: column;
    width: 100%;
}