.dashboard {
    position: relative;
    display:        flex;
    flex-direction: column;
    gap:            var(--main-gap);
}

.dashboard .card-div {
    width: 100%;
}

.dashboard-data {
    position: relative;
    display:        flex;
    flex-direction: column;
}

.dashboard-data h6 {
    position: absolute;

    display:         flex;
    align-items:     center;
    justify-content: center;
    height:          2rem;
    top:            -1rem;
    left:            50%;
    padding:         0 1rem;
    margin-bottom:   10px;
    transform: translateX(-50%);

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;

    text-align: center;
}

.dashboard-data h6 span {
    background: var(--btn-fc);
    
}

.dashboard-data ul {
    overflow-x: auto;
}

.dashboard-data ul::-webkit-scrollbar {
    display: none;
}

.dashboard ul li div {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    
    text-align: center;
}

.dashboard-data ul li div svg {
    width:  calc(var(--icons-size) * 2.5);
    height: calc(var(--icons-size) * 2.5);
    color:  white;
}


@media (min-width: 768px) {
    .dashboard .card-div {
        width: fit-content;
        max-width: calc(100% - 15rem);
    }
}