.hero {
    position: relative;
    display:        flex;
    flex-direction: column;
    gap:            var(--small-gap);
}

.hero .card-div {
    width: 100%;
}

.hero-list ul {
    display:         inline-flex;
    flex-direction:  column;
    align-items:     stretch;
    justify-content: start;
    width:           100%;
    gap:             var(--medium-gap);

    list-style: none;
    overflow-x: auto;
}

.hero-list ul::-webkit-scrollbar {
    display: none;
}

.hero ul li {
    flex: 0 0 auto;
    min-width: 12.5rem;
    height: 100%;
    flex-shrink: 0;
}

.hero ul li div {
    position:       relative;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    transition:     transform 0.3s;
}

.hero-list ul li div svg {
    width:  calc(var(--icons-size) * 2.5);
    height: calc(var(--icons-size) * 2.5);
    color:  white;
    margin-bottom: 2.5px;
}

.hero-list ul li div button {
    height:  1.75rem;
    width:   100%;
    padding: 0 1rem;
    border-radius: 0.5rem;
    margin-top: 2px;
}

.statistics .statistics-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    gap: var(--small-gap);
}


@media (min-width: 600px) {
    .hero ul {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}