*,
*::before,
*::after {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --lpurple: color-mix(in srgb, var(--purple) 65%, white);
    --purple: rgb(115, 30, 255);
    --dpurple: color-mix(in srgb, var(--purple) 65%, black);

    --gray1: rgb(0, 0, 0);
    --gray2: color-mix(in srgb, var(--gray1) 95%, white);
    --gray3: color-mix(in srgb, var(--gray1) 90%, white);
    --gray4: color-mix(in srgb, var(--gray1) 85%, white);
    --gray5: color-mix(in srgb, var(--gray1) 80%, white);
    --gray6: color-mix(in srgb, var(--gray1) 75%, white);

    --lgray1: color-mix(in srgb, var(--gray1) 80%, transparent);
    --lgray2: color-mix(in srgb, var(--gray2) 80%, transparent);
    --lgray3: color-mix(in srgb, var(--gray3) 80%, transparent);
    --lgray4: color-mix(in srgb, var(--gray4) 80%, transparent);
    --lgray5: color-mix(in srgb, var(--gray5) 80%, transparent);
    --lgray6: color-mix(in srgb, var(--gray6) 80%, transparent);

    --bd-width:   1px;
    --icons-size: 13px;

    /* Typography */
    --fs-1: 2.986rem;
    --fs-2: 2.488rem;
    --fs-3: 2.074rem;
    --fs-4: 1.728rem;
    --fs-5: 1.44rem;
    --fs-6: 1.2rem;

    /* Button */
    --btn-bg-color:        #ffffff0a;
    --btn-hover-bg-color:  #ffffff1a;
    --btn-active-bg-color: var(--purple);
    --btn-bd-color:        #ffffff0a;

    /* Body */
    --body-bg-color:   var(--gray1);
    --body-grid-color: var(--gray2);
    --body-grid-size:  2rem;

    /* Main */
    --main-padding: 3rem 3rem calc(var(--app-nav-height) + 3rem) 3rem;
    --main-gap: 1rem;

    /* Card */
    --card-width:        fit-content;
    --card-height:       3rem;
    --card-padding:      1.25rem;

    --card-bg-color:     var(--gray2);
    --card-bd-color:     var(--gray3);
    --card-br:           1.25rem;
    --card-bs:           0 0 1rem black;

    /* Highlight Card */
    --hcard-padding: 1.75rem; 

    --hcard-bg-color:       var(--dpurple);
    --hcard-outline-color:  rgba(255, 255, 255, 0.1);
    --hcard-outline-width:  calc(var(--bd-width) * 2);
    --hcard-outline-offset: calc(var(--hcard-padding) / -2);

    /* App Nav */
    --app-nav-width:        fit-content;
    --app-nav-height:       3rem;
    --app-nav-padding:      1.25rem;

    --app-nav-bg-color:     var(--lgray2);
    --app-nav-blur:         1rem;
    --app-nav-bd-color:     var(--lgray3);
    --app-nav-br:           17.5px;


    --app-nav-child-height:  2rem;
    --app-nav-child-padding: 0 1rem;
    --app-nav-child-gap:     5px;
    --app-nav-child-br:      10px;
}

h1, h2, h3, h4, h5, h6, p, i, button { color: rgb(245, 245, 250); }
h1, h2, h3 { font-family: 'Inter Tight', 'Inter', sans-serif; }

h1 { 
    font-size:   var(--fs-1); 
    text-shadow: 2px 1px 0 var(--purple);
}
h2 { font-size: var(--fs-2); }
h3 { font-size: var(--fs-3); }
h4 { font-size: var(--fs-4); }
h5 { font-size: var(--fs-5); }
h6 { font-size: var(--fs-6); }

body {
    background-color: var(--body-bg-color);
    background-image:
        linear-gradient(to right,  var(--body-grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--body-grid-color) 1px, transparent 1px);
    background-size: var(--body-grid-size) var(--body-grid-size);
}

button, .btn {
    display:         inline-flex;
    align-items:     center;
    justify-content: center;

    background-color: var(--btn-bg-color);
    border:           var(--bd-width) solid var(--btn-bd-color);

    font-size: 0.85rem;
    
    cursor:     pointer;
    transition: background-color 0.3s ease-out, border 0.3s ease-out, color 0.3s ease-out;
}

button:hover, 
.btn:hover {
    background-color: var(--btn-hover-bg-color);
}

button.active,
.btn.active {
    background-color: var(--btn-active-bg-color);
    border-color:     var(--btn-active-bg-color);
}

.card {
    padding: var(--card-padding);

    background-color: var(--card-bg-color);
    border:           var(--bd-width) solid var(--card-bd-color);
    border-radius:    var(--card-br);
    box-shadow:       var(--card-bs);
}

.card.highlight {
    padding: var(--hcard-padding);

    background-color: var(--hcard-bg-color);
    border:           none;
    outline:          var(--hcard-outline-width) dashed var(--hcard-outline-color);
    outline-offset:   var(--hcard-outline-offset);
}

nav {
    background-color: var(--app-nav-bg-color);
    backdrop-filter: blur(var(--app-nav-blur));
    border:           var(--bd-width) solid var(--app-nav-bd-color);
    border-radius:    var(--app-nav-br);
}

nav {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    position:        fixed;
    bottom:          1rem;
    left:            1rem;
    width:           var(--app-nav-width);
    height:          var(--app-nav-height);
    padding:         calc((var(--app-nav-height) - var(--app-nav-child-height)) / 2);
    gap:             calc((var(--app-nav-height) - var(--app-nav-child-height)) / 2);   
}

nav div {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    gap:             calc((var(--app-nav-height) - var(--app-nav-child-height)) / 2);
}

nav button,
nav .btn {
    display:       flex;
    align-items:   center;
    height:        var(--app-nav-child-height);
    padding:       var(--app-nav-child-padding);
    gap:           var(--app-nav-child-gap);
    border-radius: var(--app-nav-child-br);

    text-decoration: none;
    color:         white;
}

nav button svg,
nav .btn svg {
    height: var(--icons-size);
    width:  var(--icons-size);
}

main {
    display:        flex;
    flex-direction: column;
    padding:        var(--main-padding);
    gap:            var(--main-gap);
}

@media (min-width: 768px) {
    :root {
        --app-nav-width: 100%;
        --app-nav-br: 0;
        --main-padding: calc(var(--app-nav-height) + 3rem) 3rem 3rem 3rem;
    }

    nav {
        top:  0;
        left: 0;
    }
}